@use 'sass:color';

@mixin article($largeur) {
  border : 1px grey solid ;
  border-radius: 1em;
  width: $largeur;
  box-sizing: border-box;
  margin-left: 2%;
  margin-top : 2% ;
  padding: 1%;

  img {
    width: 100%;
    grid-row: 1/2;
  }


  a {

    @extend %lienNeutre ;
    display: grid;
    grid-template-rows: 1fr 3em 3em 3em;



    p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    .nom {
      grid-row: 2/3;
    }

    .prix {
      grid-row: 3/4;
    }

    .stock {
      grid-row: 4/5;
    }

  }
}

%lienNeutre {
  color: black;
  text-decoration: none;
}