@use "Article" as * ;
@use "Logo" as * ;
@use "Mixin" as *;
@use "ArticleDetaille" as * ;

.article {
  @include taille(1 , 0 , 2 , 2% , 40%) ;
  @include article(15em) ;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

h1 {
  text-align: center;
}

nav {
  background-color: black;
  color : white ;
  border-radius: 1em;

}

.menu {
  display: grid;
  grid-template-columns: repeat(5 , 20%);
  grid-column-gap: 2em;
  padding: 1em;
  align-items: center;

  .logo {
    display: none;
  }

  .icon {
    @include img(2em)
  }

}

.detaille {

  .articleDetaille {
    @include articleDetaille(15em) ;
  }

  h2 {
    text-align: center;
  }

}



.Articles {
  @include row
}

@media (min-width: 25em) {


  body {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr;
    grid-template-columns: 10rem 1fr;

    nav {
      grid-row: 1/4;
      grid-column: 1/2;

      .menu {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5 , 5em);
        padding: 1em;

        .logo {
          display: block;
          @include img(7em);margin-left: 0.25em;
        }
      }

    }

    .detaille {

      .articleDetaille {
        @include articleDetaille(50%)
      }

      h2 {
        text-align: center;
      }

    }



    h1 {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    .tri {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    .Articles {
      grid-row: 3/4;
      grid-column: 2/3;
    }

  }

}