@use "Article" as * ;
@use "Logo" as * ;
@use "Mixin" as *;
@use "ArticleDetaille" as * ;
@use "panier" as * ;


.article {
  @include taille(1 , 0 , 2 , 2% , 40%) ;
  @include article(15em) ;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

h1 {
  text-align: center;
}

nav {
  background-color: black;
  color : white ;
  border-radius: 1em;

}

.menu {
  display: grid;
  grid-template-columns: repeat(5 , 20%);
  grid-column-gap: 2em;
  padding: 1em;
  align-items: center;

  .logo {
    display: none;
  }

  .icon {
    @include img(2em)
  }

}

.detaille {

  display: grid;
  grid-template-columns: 1fr 65% 1fr;

  .articleDetaille {
    @include articleDetaille(15em) ;
    grid-column: 2/3;
  }

    h2 {
    text-align: center;
  }

}



.Articles {
  @include row
}

.inscrire a {
  @extend %lienNeutre
}



.formulaire , .inscrire {
  display: grid;
  padding: 2%;
  grid-template-columns: 100%;

    a {
      width: 100%;
      grid-column: 2/3;

      .retour {
        text-align: center;
        box-sizing: border-box;
        border: 2px black solid;
        border-radius: 1em;
        padding: 2%;
        margin-bottom: 2%;

    }
    }

  a:hover {
    color : white ;

    .retour {
      background-color: black;
    }

  }

  .formconnexion , .forminscrip {
    padding: 5%;
    display: grid;
    grid-template-rows: repeat(6, 2em);
    grid-row-gap: 3%;
    background-color: #F1D5BB;
    border : 2px black solid;
    border-radius: 1em;

    margin-bottom: 0;

    h3 {
      margin: 0;
    }

    a {
      color: black;
    }

  }
}

@media (min-width: 25em) {

  .formulaire , .inscrire {
    display: grid;
    padding: 2%;
    grid-template-columns: 1fr 50% 1fr;

    .retour {
      grid-column: 2/3;
    }

    .formconnexion , .forminscrip {
      grid-column: 2/3;

      .ErreurAuth p {
        padding: 2%;
        background-color: red;
        color : white ;
        border : 3px white solid;
        border-radius: 1em;
      }

    }
  }

  body {
    display: grid;
    grid-template-rows: 3rem 3rem 1fr;
    grid-template-columns: 10rem 1fr;

    nav {
      grid-row: 1/4;
      grid-column: 1/2;

      .menu {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5 , 5em);
        padding: 1em;

        .logo {
          display: block;
          @include img(7em);margin-left: 0.25em;
        }
      }

    }

    .detaille {

      .articleDetaille {
        @include articleDetaille(50%)
      }

      h2 {
        text-align: center;
      }

    }



    h1 {
      grid-row: 1/2;
      grid-column: 2/3;
    }

    .tri {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    .Articles {
      grid-row: 3/4;
      grid-column: 2/3;
    }

  }

}

// Pagination styles
.pagination {
  margin: 2rem 0;
  padding: 1rem;
  justify-content: flex-end;
  grid-row: 10;
  grid-column: 2/3;
  align-items: center;
  gap: 1rem;
  width: 100%;

  p {
    margin: 0;
    color: #666;
    display: none;
  }

  .nav-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  a {
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;

    &.btn-nav {
      background-color: #007bff;
      color: white;

      &:hover {
        background-color: #0056b3;
      }
    }

    &.page-link {
      background-color: #f0f0f0;
      color: #333;

      &:hover {
        background-color: #d0d0d0;
      }
    }
  }

  span {
    &.current-page {
      margin: 0 5px;
      padding: 8px 12px;
      background-color: #28a745;
      color: white;
      border-radius: 4px;
      font-weight: bold;
      display: inline-block;
    }

    &.ellipsis {
      margin: 0 5px;
    }
  }
}

